<!DOCTYPE html>
<html>
<head>
    <title>c-beam telemetry server</title>
    <script src="<%- openmctRoot %>/openmct.js"></script>
    <script src="lib/http.js"></script>
    <script src="dictionary-plugin.js"></script>
    <script src="historical-telemetry-plugin.js"></script>
    <script src="realtime-telemetry-plugin.js"></script>
    <style>
      body {
        background-color: #333;
      }
    </style>
</head>
<body>
    <script>
        openmct.setAssetPath('<%- openmctRoot %>');

        // Bundled plugins
        openmct.install(<%- persistence %>);
        openmct.install(openmct.plugins.MyItems());
        openmct.install(openmct.plugins.UTCTimeSystem());
        openmct.time.clock('local', {start: -<%= timeWindow %>, end: 0});
        openmct.time.timeSystem('utc');
        openmct.install(openmct.plugins.<%= theme %>());

        openmct.install(openmct.plugins.Conductor({
          menuOptions: [
            // Configuration for the LocalClock in the UTC time system
            {
              clock: 'local',
              timeSystem: 'utc',
              clockOffsets: {start: -<%= timeWindow %>, end: 0},
              zoomOutLimit: 31 * 24 * 60 * 60 * 1000,
              zoomInLimit: 60 * 1000
            }
          ]
        }));

        // Local plugins
        <% var types = []; %>
        <% for (var i=0; i<dictionaries.length; i++) { %>
        openmct.install(DictionaryPlugin({
          name: '<%= dictionaries[i].name %>',
          description: '<%= dictionaries[i].options.description %>',
          key: '<%= dictionaries[i].key %>',
          type: '<%= dictionaries[i].key %>.telemetry',
          namespace: '<%= dictionaries[i].key %>.taxonomy'
        }));
          <% types.push(dictionaries[i].key + '.telemetry'); %>
        <% } %>
        openmct.install(HistoricalTelemetryPlugin([<% for (var i=0; i<types.length; i++) { %>
            '<%= types[i] %>'<% if (i < types.length - 1) { %>,<% } %>
        <% } %>]));
        openmct.install(RealtimeTelemetryPlugin([<% for (var i=0; i<types.length; i++) { %>
            '<%= types[i] %>'<% if (i < types.length - 1) { %>,<% } %>
        <% } %>]));

        openmct.start();
    </script>
</body>
</html>
